/**
 * Syntax highlighting styles
 */

 //colors
 $color_cream_approx: #ffffcc;
 $color_lemon_grass_approx: #999988;
 $color_tamarillo_approx: #a61717;
 $color_swiss_coffee_approx: #e3d2d2;
 $black: #000000;
 $color_mountain_mist_approx: #999999;
 $color_pippin_approx: #ffdddd;
 $color_bright_red_approx: #aa0000;
 $color_snowy_mint_approx: #ddffdd;
 $color_suva_gray_approx: #888888;
 $color_fuscous_gray_approx: #555555;
 $color_silver_chalice_approx: #aaaaaa;
 $color_east_bay_approx: #445588;
 $color_persian_green_approx: #009999;
 $color_crimson_approx: #d01040;
 $teal: #008080;
 $color_bondi_blue_approx: #0086b3;
 $color_mineral_green_approx: #3c5d5d;
 $color_seance_approx: #800080;
 $color_red_berry_approx: #990000;
 $navy_blue: #000080;
 $color_pink_swan_approx: #bbbbbb;
 $color_forest_green_approx: #009926;
 $color_flirt_approx: #990073;

 .highlight {
   // background: #fff;
   @extend %vertical-rhythm;

   .highlighter-rouge & {
     // background-color: #f7f7f7;
     margin-left: calc(-1em - 15px);
     margin-right: calc(-1em - 15px);
     margin-left: -webkit-calc(-1em - 15px);
     margin-right: -webkit-calc(-1em - 15px);
   }

   code {
     background-color: transparent;
   }

   .hll {
     background-color: $color_cream_approx;
   }
   .c {
     color: $color_lemon_grass_approx;
     font-style: italic;
   }
   .err {
     color: $color_tamarillo_approx;
     background-color: $color_swiss_coffee_approx;
   }
   .k {
     color: $black;
     font-weight: bold;
   }
   .o {
     color: $black;
     font-weight: bold;
   }
   .cm {
     color: $color_lemon_grass_approx;
     font-style: italic;
   }
   .cp {
     color: $color_mountain_mist_approx;
     font-weight: bold;
     font-style: italic;
   }
   .c1 {
     color: $color_lemon_grass_approx;
     font-style: italic;
   }
   .cs {
     color: $color_mountain_mist_approx;
     font-weight: bold;
     font-style: italic;
   }
   .gd {
     color: $black;
     background-color: $color_pippin_approx;
   }
   .ge {
     color: $black;
     font-style: italic;
   }
   .gr {
     color: $color_bright_red_approx;
   }
   .gh {
     color: $color_mountain_mist_approx;
   }
   .gi {
     color: $black;
     background-color: $color_snowy_mint_approx;
   }
   .go {
     color: $color_suva_gray_approx;
   }
   .gp {
     color: $color_fuscous_gray_approx;
   }
   .gs {
     font-weight: bold;
   }
   .gu {
     color: $color_silver_chalice_approx;
   }
   .gt {
     color: $color_bright_red_approx;
   }
   .kc {
     color: $black;
     font-weight: bold;
   }
   .kd {
     color: $black;
     font-weight: bold;
   }
   .kn {
     color: $black;
     font-weight: bold;
   }
   .kp {
     color: $black;
     font-weight: bold;
   }
   .kr {
     color: $black;
     font-weight: bold;
   }
   .kt {
     color: $color_east_bay_approx;
     font-weight: bold;
   }
   .m {
     color: $color_persian_green_approx;
   }
   .s {
     color: $color_crimson_approx;
   }
   .na {
     color: $teal;
   }
   .nb {
     color: $color_bondi_blue_approx;
   }
   .nc {
     color: $color_east_bay_approx;
     font-weight: bold;
   }
   .no {
     color: $teal;
   }
   .nd {
     color: $color_mineral_green_approx;
     font-weight: bold;
   }
   .ni {
     color: $color_seance_approx;
   }
   .ne {
     color: $color_red_berry_approx;
     font-weight: bold;
   }
   .nf {
     color: $color_red_berry_approx;
     font-weight: bold;
   }
   .nl {
     color: $color_red_berry_approx;
     font-weight: bold;
   }
   .nn {
     color: $color_fuscous_gray_approx;
   }
   .nt {
     color: $navy_blue;
   }
   .nv {
     color: $teal;
   }
   .ow {
     color: $black;
     font-weight: bold;
   }
   .w {
     color: $color_pink_swan_approx;
   }
   .mf {
     color: $color_persian_green_approx;
   }
   .mh {
     color: $color_persian_green_approx;
   }
   .mi {
     color: $color_persian_green_approx;
   }
   .mo {
     color: $color_persian_green_approx;
   }
   .sb {
     color: $color_crimson_approx;
   }
   .sc {
     color: $color_crimson_approx;
   }
   .sd {
     color: $color_crimson_approx;
   }
   .s2 {
     color: $color_crimson_approx;
   }
   .se {
     color: $color_crimson_approx;
   }
   .sh {
     color: $color_crimson_approx;
   }
   .si {
     color: $color_crimson_approx;
   }
   .sx {
     color: $color_crimson_approx;
   }
   .sr {
     color: $color_forest_green_approx;
   }
   .s1 {
     color: $color_crimson_approx;
   }
   .ss {
     color: $color_flirt_approx;
   }
   .bp {
     color: $color_mountain_mist_approx;
   }
   .vc {
     color: $teal;
   }
   .vg {
     color: $teal;
   }
   .vi {
     color: $teal;
   }
   .il {
     color: $color_persian_green_approx;
   }
 }

@media (prefers-color-scheme: dark) {
  .highlight pre { background-color: #404040 }
  .highlight .hll { background-color: #404040 }
  .highlight .c { color: #999999; font-style: italic } /* Comment */
  .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .highlight .g { color: #d0d0d0 } /* Generic */
  .highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
  .highlight .l { color: #d0d0d0 } /* Literal */
  .highlight .n { color: #d0d0d0 } /* Name */
  .highlight .o { color: #d0d0d0 } /* Operator */
  .highlight .x { color: #d0d0d0 } /* Other */
  .highlight .p { color: #d0d0d0 } /* Punctuation */
  .highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
  .highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
  .highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
  .highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
  .highlight .gd { color: #d22323 } /* Generic.Deleted */
  .highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
  .highlight .gr { color: #d22323 } /* Generic.Error */
  .highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
  .highlight .gi { color: #589819 } /* Generic.Inserted */
  .highlight .go { color: #cccccc } /* Generic.Output */
  .highlight .gp { color: #aaaaaa } /* Generic.Prompt */
  .highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
  .highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
  .highlight .gt { color: #d22323 } /* Generic.Traceback */
  .highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
  .highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
  .highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
  .highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
  .highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
  .highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
  .highlight .ld { color: #d0d0d0 } /* Literal.Date */
  .highlight .m { color: #3677a9 } /* Literal.Number */
  .highlight .s { color: #ed9d13 } /* Literal.String */
  .highlight .na { color: #bbbbbb } /* Name.Attribute */
  .highlight .nb { color: #24909d } /* Name.Builtin */
  .highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
  .highlight .no { color: #40ffff } /* Name.Constant */
  .highlight .nd { color: #ffa500 } /* Name.Decorator */
  .highlight .ni { color: #d0d0d0 } /* Name.Entity */
  .highlight .ne { color: #bbbbbb } /* Name.Exception */
  .highlight .nf { color: #447fcf } /* Name.Function */
  .highlight .nl { color: #d0d0d0 } /* Name.Label */
  .highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
  .highlight .nx { color: #d0d0d0 } /* Name.Other */
  .highlight .py { color: #d0d0d0 } /* Name.Property */
  .highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
  .highlight .nv { color: #40ffff } /* Name.Variable */
  .highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
  .highlight .w { color: #666666 } /* Text.Whitespace */
  .highlight .mf { color: #3677a9 } /* Literal.Number.Float */
  .highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
  .highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
  .highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
  .highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
  .highlight .sc { color: #ed9d13 } /* Literal.String.Char */
  .highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
  .highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
  .highlight .se { color: #ed9d13 } /* Literal.String.Escape */
  .highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
  .highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
  .highlight .sx { color: #ffa500 } /* Literal.String.Other */
  .highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
  .highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
  .highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
  .highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
  .highlight .vc { color: #40ffff } /* Name.Variable.Class */
  .highlight .vg { color: #40ffff } /* Name.Variable.Global */
  .highlight .vi { color: #40ffff } /* Name.Variable.Instance */
  .highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */
}
