#markdown-toc {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 5px 5px 5px #F8F8F8;
    float: right;
    font-family: 'PT Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 80%;
    line-height: 1.7em !important;
    margin: 0 0 10pt 20pt;
    padding: 5pt 5pt 5pt 25pt;
    width: 20%;
}
