Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}
<script language="JavaScript" src="{{ root_url }}/javascripts/tongwen_core.js"></script>
<script language="JavaScript" src="{{ root_url }}/javascripts/tongwen_table_s2t.js"></script>
<script language="JavaScript" src="{{ root_url }}/javascripts/tongwen_table_t2s.js"></script>
<script language="JavaScript" src="{{ root_url }}/javascripts/tongwen_table_ps2t.js"></script>
<script language="JavaScript" src="{{ root_url }}/javascripts/tongwen_table_pt2s.js"></script>
<link href="{{ root_url }}/stylesheets/switchery.min.css" rel="stylesheet" />
<script type="text/javascript" src="{{ root_url }}/javascripts/switchery.min.js"></script>
<script type="text/javascript">
    var ts_switch = document.querySelector('#ts-switch');
    var ts_label =document.querySelector('#side-label');
    var init = new Switchery(ts_switch);

    ts_switch.onchange = function() {
        if (ts_switch.checked) {
            TongWen.trans2Trad(document);
            ts_label.innerHTML = "繁";
        } else {
            TongWen.trans2Simp(document);
            ts_label.innerHTML = "简";
        }
    };
</script>
