---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date |
        date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope
        itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <ul class="categories">
    {% for category in page.categories %}
    <li><a class="page-link" href="/?category={{ category }}">#{{ category }}</a></li>
    {% endfor %}
  </ul>

</article>

<div class="ending">
  {% if page.comments == true %}
  <div id="discussion-btn-group">
    {% if page.tweet_id == null %}
    <a title="Discuss on Twitter"
      href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text=@ConanChou" target="_blank"
      class="discussion-btn">Discuss on Twitter ▶</a>
    <a title="View Discussions" href="https://twitter.com/search?q={{ site.url }}{{ page.url }}" target="_blank"
      class="discussion-btn">View Discussions ▶</a>
    {% else %}
    <a title="Discuss on Twitter" href="https://twitter.com/intent/tweet?in_reply_to={{ page.tweet_id }}"
      target="_blank" class="discussion-btn">Discuss on Twitter ▶</a>
    <a title="View Discussions" href="https://twitter.com/avc/status/{{ page.tweet_id }}" target="_blank"
      class="discussion-btn">View Discussions ▶</a>
    {% endif %}
  </div>
  {% endif %}
  <!-- {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %} -->
  <div class="post-nav">
    <div>
      {% if page.previous.url %}
      <a title="Previous Post: {{ page.previous.title }}" href="{{ page.previous.url }}">◀<span id="prev-span">{{
          page.previous.title }}</span></a>
      {% endif %}
    </div>
    <div class="post-nav-next">
      {% if page.next.url %}
      <a title="Next Post: {{ page.next.title }}" href="{{ page.next.url }}"> <span id="next-span">{{ page.next.title
          }}</span>▶</a>
      {% endif %}
    </div>
  </div>

</div>

<div id="promotion">
  <div>
    <a href="https://apps.apple.com/app/apple-store/id6478060940?pt=126889244&ct=blog&mt=8" class="app-card" target="_blank">
      <div class="app-card-content">
        <img src="/images/256@2x.png" alt="Quotes App Icon" class="app-icon">
        <div class="app-info">
          <span class="app-from">歡迎使用 blurrr.studio 作品</span>
          <h3>Quotes - 您的閱讀引文管理工具</h3>
          <p>引文快速擷取、自動獲取 Kindle/Apple Book 書本信息、導入 Kindle 筆記、一鍵生成文字圖片、桌面小組件等。</p>
        </div>
        <div class="chevron">
          <svg width="14" height="44" viewBox="0 0 14 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.02344 41.5352C5.77344 42.0977 5.40625 42.5508 4.92188 42.8945C4.45312 43.2539 3.92188 43.4336 3.32812 43.4336C2.34375 43.4336 1.53906 43.1211 0.914062 42.4961C0.304688 41.8711 0 41.1211 0 40.2461C0 39.7617 0.109375 39.2461 0.328125 38.6992C0.546875 38.1367 0.757812 37.6133 0.960938 37.1289L7.78125 20.6289V23.3711L0.960938 6.87109C0.757812 6.40234 0.546875 5.88672 0.328125 5.32422C0.109375 4.74609 0 4.22266 0 3.75391C0 2.86328 0.304688 2.11328 0.914062 1.50391C1.53906 0.878906 2.34375 0.566406 3.32812 0.566406C3.92188 0.566406 4.45312 0.746094 4.92188 1.10547C5.40625 1.44922 5.77344 1.90234 6.02344 2.46484L12.5625 18.1445C12.8438 18.8164 13.0938 19.4648 13.3125 20.0898C13.5312 20.7148 13.6406 21.3477 13.6406 21.9883C13.6406 22.6289 13.5312 23.2617 13.3125 23.8867C13.0938 24.4961 12.8438 25.1445 12.5625 25.832L6.02344 41.5352Z" fill="currentColor"/>
          </svg>
        </div>
      </div>
    </a>
  </div>

  <div class="banner-container">
    <img src="/images/blog banner.png" alt="blurrr.studio banner">
  </div>
</div>
{% if jekyll.environment == "development" %}
<script type="text/javascript" src="{{ root_url }}/javascripts/qrcode.min.js"></script>
<div id="qrcode"></div>

{% endif %}